/* 
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/

@font-face {
    font-family: 'proxima_regular';
    src: url('../assets/webfont/proximanova-reg-webfont.eot');
    src: url('../assets/webfont/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/webfont/proximanova-reg-webfont.woff2') format('woff2'),
         url('../assets/webfont/proximanova-reg-webfont.woff') format('woff'),
         url('../assets/webfont/proximanova-reg-webfont.ttf') format('truetype'),
         url('../assets/webfont/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_bold';
    src: url('../assets/webfont/proximanova-bold-webfont.eot');
    src: url('../assets/webfont/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/webfont/proximanova-bold-webfont.woff2') format('woff2'),
         url('../assets/webfont/proximanova-bold-webfont.woff') format('woff'),
         url('../assets/webfont/proximanova-bold-webfont.ttf') format('truetype'),
         url('../assets/webfont/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_light';
    src: url('../assets/webfont/proximanova-light-webfont.eot');
    src: url('../assets/webfont/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/webfont/proximanova-light-webfont.woff2') format('woff2'),
         url('../assets/webfont/proximanova-light-webfont.woff') format('woff'),
         url('../assets/webfont/proximanova-light-webfont.ttf') format('truetype'),
         url('../assets/webfont/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Austin';
  src: url('../assets/webfont/Austin-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../assets/webfont/Austin-Medium.woff') format('woff'), url('../assets/webfont/Austin-Medium.ttf')  format('truetype'), url('../assets/webfont/Austin-Medium.svg#Austin-Medium') format('svg');
  font-weight: 600;
  font-style: 600;
}



// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: $orange;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

.row {
	// max-width: 68.5rem;
	max-width: 80rem;
}

.top-bar {
	max-width: 100% !important;
}
// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

a {
  -webkit-transition: all 0.1s ease-out; 
          transition: all 0.1s ease-out; 
}

a:hover {
	color: $oil;
}

/* -------------------------------- 
  DEFAULTS   
-------------------------------- */

h1,h2,h3,h4,h5 {
	font-weight: 400 !important;
}

h1 {
	font-family: 'Austin', "austin", austin, sans-serif;
}
h2 {
		font-family: 'Austin', "austin", austin, sans-serif;
		margin-bottom: 0.75rem;
		line-height: 1.15;
}
h3 {
	font-family: 'proxima_bold', sans-serif;
}
h5 {
	font-family: 'proxima_regular', sans-serif;
}
p {
	font-family: 'proxima_regular', sans-serif;
	color: $oilfade;
}

@media only screen and (max-width: 40.063em) {
	h2 {
			font-size: 2.5rem !important;
	}
	h3 {
			font-size: 1.2rem !important;
	}
	p {
		font-size: 1rem !important;
	}
}


.section-wrapper {
	padding: 60px 0px;
	position: relative;
	z-index: 0;

	&.intro, &.start {
		padding: 0px;
	}

	@media only screen and (max-width: 40.063em) {
		padding: 30px 0px;
	}

}

.strike-top {
	border-top: 2px solid #e3ddd1;
}


/* -------------------------------- 
  DEFAULT SAND BOX
-------------------------------- */

.default-sand-box {
	background-color: $sand;

	h1, h2 {
		color: $oil;
	}
	h1 {

	}
	h2 {
		font-size: 3.5rem;
		line-height: 1.2;
		font-family: 'Austin', "austin", austin, sans-serif;
	}
	h3 {

	}
	p {	
		color: $oilfade;
	}
	.button {
		font-size: 20px;
		background-color: transparent;
		border: 2px solid $orange;
		color: $orange;
		padding: 15px 50px;
  -webkit-transition: all 0.1s ease-out; 
          transition: all 0.1s ease-out; 
    font-family: 'proxima_bold', sans-serif;

		&:hover {
			background-color: $orange;
			color: $white !important;
		}
	}
}


/* -------------------------------- 
  START  
-------------------------------- */

.start {
	background-color: $orange;
	position: relative;
	height: 600px;

	h1 {
		font-size: 6rem;
	  color: $oil;
	  line-height: 1.2;
	}

	.top-taglines {
		display: none;
	}

	.white-text {
		color: $white;
		font-style: italic;
	}

	.row {

	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}

}

/* -------------------------------- 
  INTRO  
-------------------------------- */

.video-wrapper {
	background-color: $orange;
	position: absolute;
	top: 60px;
	z-index: 1;
	width: 100%;
	height: 0%;
	opacity: 0;
  display: none;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.intro {
	position: relative;
	background-color: $black;
	color: $orange;
	height: 1000px;

	.background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.2;
		z-index: 2;
	}

	.row {
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  z-index: 3;
	  margin: 0 auto;
	}

	h1, p {
		font-size: 6rem;
		line-height: 1.2;
		color: $orange;
	}
	h1 a {
		color: $white;
		font-style: italic;
  -webkit-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 
		img {
			width: 9%;
			margin-top: -20px;
		}
		&:hover {
			color: $orange;
		}
	}
}

/* -------------------------------- 
  KICKSTART STATS  
-------------------------------- */

.kickstart  {
	background-color: $sand;
	color: $oil;

	.orange-text {
		color: $orange;
	}

	.progress {
	  margin-bottom: 25px;
		padding: 0px;
		height: 22px;

		.meter {
			background: $orange;
		}
	}

	h1, h2 {
		color: $oil;
	}
	h2 {
		color: $oil;
	  font-size: 3.5rem;
	  line-height: 1.2;
	  margin: 0px 0px 15px 0px;
	  padding-right: 60px;
	}
	.stats {
		h2 {
			font-size: 6rem;
		}
	}
	h6 {
		display: none;
	}

	p {
		font-family: 'proxima_regular', sans-serif;
		padding-right: 5%;
	  padding-bottom: 60px;
	  margin: 0px;
		color: $oilfade;

	}

	.default-sand-box {
		padding-top: 20px;
		p { 
		 	font-family: 'proxima_regular', sans-serif; 
		  padding-top: 20px;
  		color: $oilfade;

		}
	}

	.kickstarter {
	  font-size: 1.4rem;
	  font-weight: normal;
	  line-height: 1.6;
	  margin-bottom: 1.25rem;
	  padding-top: 45px;
	}

	.kickstarter-num {
	  font-family: 'proxima_bold', sans-serif;
	  display: inline-block;
	  float: left;
	  height: 45px;
	  margin-top: 25px;
	}

	.kickstarter-tag {
	  font-family: 'proxima_regular', sans-serif;
	  color: #514D4D;
	  padding-left: 8px;
	  display: inline-block;
	  height: 45px;
	  margin-top: 25px;
	}

	.kickstarter-button {
	display: none;
	}

}


/* -------------------------------- 
  MINIFEST INTRO
-------------------------------- */

.manifest-intro  {
	background-color: $oil;

	.menifest-intro-item {
		padding: 60px 0px;
		@media only screen and (max-width: 40.063em) {
			padding: 15px 0px;
		}
	}

	h1, h2, p {
		color: $white;
	}
	h1 {
		font-size: 6rem;
	  line-height: 1;
	  padding-bottom: 1rem;
    font-weight: 500;
	}
	p {
		font-family: 'proxima_regular', sans-serif;
	  font-size: 2rem;
	  line-height: 1.3;
	}
	img {
	  width: 50%;
	}
}


/* -------------------------------- 
  MINIFEST LIST
-------------------------------- */

.manifest-list  {
	background-color: $sand;

	.list-item {
	  padding-bottom: 30px;

	  &:last-child {
	  	padding-bottom: 0px;
	  }
	}

	h1, h2 {
		color: $oil;
	}
	h1 {
		font-size: 6rem;
		color: $orange;
	}
	h2 {
		font-size: 3.5rem;
		line-height: 1.25;
		font-family: 'Austin', "austin", austin, sans-serif;
	}
	p {
		line-height: 1.5;
	}
}


/* -------------------------------- 
  QUOTE MODULE
-------------------------------- */

.quote  {
	background-color: $white;

	img.person {
		max-width: 40%;
		border-radius: 100%;
		float: left;
	}

	.quote-details {
		max-width: 40%;
		margin-left: 8%;
		display: inline-block;

		img.quote-sign {
			width: 100px;
			margin-left: -10px;
			margin-bottom: 10px;
		}		
	}

	h4 {
		margin: 0px;
		font-family: 'proxima_bold', sans-serif;
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	p {
		font-family: 'proxima_regular', sans-serif;
		color: $oilfade;
	}

	@media only screen and (max-width: 40.063em) {
		img.person {
			margin-top: -100px;
		}
		img.quote-sign {
			width: 60px !important;
		}		
		p {
		  padding-top: 20px;
		}
	}

}

/* -------------------------------- 
  BACKERS
-------------------------------- */


.backers  {
	background-color: $sand;

	.backers-item {
		position: relative;
	  margin-bottom: 35px;
	  	
		img.person {
			border-radius: 100%;
			width: 75px;
			float: left;
		}
		.content {
			margin-top: 12px;
			margin-left: 20px;
			float: left;
		  max-width: 75%;

			h3 {
				font-size: 1.4rem;
				line-height: 1.25;
				margin: 0px;
			}

			h5 {
				font-size: 16px;
				margin: 0px;
				color: $oilfade;
			}

		}
	}

}

/* -------------------------------- 
  PEOPLE
-------------------------------- */

.people  {
	background-color: $sand;

	.people-intro {
		padding-bottom: 60px;

		h2 {
			font-size: 3.5rem;
			line-height: 1.2;
			max-width: 80%;
		}
		p {
			color: $oilfade;
		}
	}
	.people-item {
		text-align: center;

		.content {
			display: inline-block;
			text-align: center;
			min-height: 200px;
		}

		img.person {
			border-radius: 100%;
			max-width: 75%;
		}
		img.signatur {
			max-width: 80%;
		}

		h3 {
			margin-top: 25px;

			font-size: 1.1rem;
		  line-height: 1.2;
		}
		p {
			font-size: 1rem;
			line-height: 1.3;
			max-width: 80%;
			text-align: center;
			margin: 0 auto;
			color: $oilfade;
		}
	}

}



/* -------------------------------- 
  Q and A
-------------------------------- */

.qanda  {
	background-color: $sand;

  .accordion-content {
  	display: none;
  }

  .accordion-toggle {cursor: pointer;}
  .accordion-content.default {display: block;}

  h2 {
		font-size: 3.5rem;
		line-height: 1.2;
		font-family: 'Austin', "austin", austin, sans-serif;
		padding-right: 5%;
  }

  h3 {
  	font-size: 1.5rem;
  	padding-top: 20px;
	  padding-right: 40px;
	  padding-bottom:20px;
  	border-top: 2px solid white;
  	color: $orange;
	  margin: 0px;
  -webkit-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 

	  &.active {
	  	color: $oilfade;
		  padding-right: 20px;
	  	padding-left: 20px;
	  	background-color: white;
	  }
  }

	p {
		background-color: white;
		padding: 0px 20px 20px 20px;
		margin: 0px;
		color: $oilfade;
  	font-size: 1rem;
	}

}



/* -------------------------------- 
  THE END
-------------------------------- */

.inner-wrap {
	z-index: 2;
	margin-bottom: 100%;
	box-shadow: 0px 5px 7px -5px rgba(0,0,0,0.26);
}

.the-end  {
	background-color: $orange;
	padding-top: 60px !important;
	padding-bottom: 10px;   
	position: fixed;
	bottom: 0px;
	z-index: 0;
	width: 100%;

	.end-message {
		position: absolute;
		margin-top: 15%;
	}

	h1 {
		font-size: 6rem;
		line-height: 1.2;
		color: $oil;
		margin-bottom: 25%;

		a {
			color: $white;
			font-style: italic;
			&:hover {
				color: $oil;
			}
		}

	}

	.social {
		position: fixed;
	  bottom: 0px;

		a {
			color: $oilfade;
			background-color: $orange;
	  	border: 2px solid white;
	  	color: white;
		  border-radius: 100%;
		  padding-top: 36px;
		  font-size: 14px;
		  font-family: 'proxima_bold', sans-serif;
		  height: 95px;
		  width: 95px;
		  display: inline-block;
		  text-align: center;
		  margin-right: 15px;
		  margin-bottom: 60px;
  -webkit-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 

		  &:hover {
		  	background-color: $white;
		  	color: $oil;
		  }
		}
	}

	p {
		color: $white;
		font-size: 1rem;
	}

}

/* -------------------------------- 
  SPECIAL EFFETCS 
-------------------------------- */

.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	overflow: hidden;

}

.cl-effect-10 a span {
	display: block;

	background: #0f7c67;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;
	background: #fff;
	color: #0f7c67;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}


