/* 
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/


@font-face {
  font-family: 'Austin';
  src: url('../assets/webfont/Austin-Medium-Web.eot');
  src: url('../assets/webfont/Austin-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('../assets/webfont/Austin-Medium-Web.woff') format('woff'),
     url('../assets/webfont/Austin-Medium-Web.ttf') format('truetype'),
     url('../assets/webfont/Austin-Medium-Web.svg#Austin-Medium') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Austin';
  src: url('../assets/webfont/Austin-MediumItalic-Web.eot');
  src: url('../assets/webfont/Austin-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('../assets/webfont/Austin-MediumItalic-Web.woff') format('woff'),
     url('../assets/webfont/Austin-MediumItalic-Web.ttf') format('truetype'),
     url('../assets/webfont/Austin-MediumItalic-Web.svg#Austin-MediumItalic') format('svg');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: $orange;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

.row {
	// max-width: 68.5rem;
	max-width: 80rem;
}

.top-bar {
	max-width: 100% !important;
}
// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

p a {
  -webkit-transition: all 0.1s ease-out; 
          transition: all 0.1s ease-out; 
}

p a:hover {
	color: $oil;
}

/* -------------------------------- 
  DEFAULTS   
-------------------------------- */

.small-12 {
	padding: 0px 10px !important;
}

h1 {
		font-family: 'Austin', georgia, sans-serif;
}
h2 {
		font-family: 'Austin', georgia, sans-serif;
		margin-bottom: 0.75rem;
		line-height: 1.15;
}
h3 {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 700;
}
h5 {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 400;
}
p {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 400;
	color: $oilfade;
}

@media only screen and (max-width: 40.063em) {
	h2 {
			font-size: 2.2rem !important;
	}
	h3 {
			font-size: 1.2rem !important;
	}
	p {
		font-size: 1rem !important;
	}
}

.section-wrapper {
	padding: 60px 0px;
	position: relative;
	z-index: 0;

	&.intro, &.start {
		padding: 0px;
	}

	@media only screen and (max-width: 40.063em) {
		padding: 30px 0px;
	}

}

.strike-top {
	border-top: 2px solid #e3ddd1;
}


/* -------------------------------- 
  DEFAULT SAND BOX
-------------------------------- */

.default-sand-box {
	background-color: $sand;

	h1, h2 {
		color: $oil;
	}
	h1 {

	}
	h2 {
		font-size: 3.5rem;
		line-height: 1.2;
		font-family: 'Austin', georgia, sans-serif;
	  padding-right: 5%;
	}
	h3 {

	}
	p {	
		color: $oilfade;
	}
	.button {
		font-size: 20px;
		background-color: transparent;
		border: 2px solid $orange;
		color: $orange;
		padding: 15px 50px;
  -webkit-transition: all 0.1s ease-out; 
          transition: all 0.1s ease-out; 
		font-family: 'proxima-nova', sans-serif;
		font-weight: 700;
		&:hover {
			background-color: $orange;
			color: $white !important;
		}
	}
}


/* -------------------------------- 
  START  
-------------------------------- */

.f-topbar-fixed {
	.start h1 {
		display: none;
	}
}

.start {
	background-color: $orange;
	position: relative;
	height: 600px;

	h1 {
		font-size: 6rem;
	  color: $oil;
	  line-height: 1.2;
	  position: relative;
	  top: 00px;
	  left: 40px;
	  width: 100%;
	  display: inline-block;

	 	@media only screen and (max-width: $topbar-breakpoint) {
	 		font-size: 4rem;
	 	}
		@media only screen and (max-width: 40.063em) {
	 		font-size: 2rem;
	 		left: 0px;
	 	}
	}

	.white-text {
		color: $white;
		font-style: italic;
	}

	img {
		position: relative;
	  left: 0px;
	  top: 0px;
	  width: 42%;
	  margin-bottom: 15px;
	}
 	@media only screen and (max-width: $topbar-breakpoint) {
 		img {
 			width: 62%;
 		}
	}
	@media only screen and (max-width: 40.063em) {
		h1 {
			max-width: 100%;
		  font-size: 2.3rem;
	    margin-left: -10px;
		}

		img {
		  left: -12px;
		  width: 78%;
		}

	}

}

/* -------------------------------- 
  INTRO  
-------------------------------- */

.video-wrapper {
	background-color: $orange;
	position: absolute;
	top: 60px;
	z-index: 1;
	width: 100%;
	height: 0%;
	opacity: 0;
  display: none;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.intro {
	position: relative;
	background-color: $black;
	color: $orange;
	height: 1000px;

	.background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.2;
		z-index: 2;
	}

	.row {
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  z-index: 3;
	  margin: 0 auto;
	}

	h1, p {
		font-size: 6rem;
		line-height: 1.2;
		color: $orange;
	}
	h1 a {
		color: $white;
		font-style: italic;
  -webkit-transition: all 0.1s ease-out; 
          transition: all 0.1s ease-out; 

		img {
			width: 9%;
			margin-top: -20px;
		}
		&:hover {
			opacity: 0.7 !important;
		}
	}

	@media only screen and (max-width: 40.063em) {
		h1 {
			padding-top: 20px;
			a {

			}
			img {
				width: 15% !important;
			  margin-top: -6px !important;
			  margin-right: 6px;
			}
			&:hover {
				opacity: 1 !important;
			}

		}
	}

}

/* -------------------------------- 
  KICKSTART STATS  
-------------------------------- */

.kickstart  {
	background-color: $sand;
	color: $oil;

	.orange-text {
		color: $orange; 
	}

	.progress {
		padding: 0px;
		height: 22px;
	  margin-bottom: 25px;
	  overflow: hidden;

		.meter {
			background: $orange;
		}

		@media only screen and (max-width: 40.063em) {
	  	margin-bottom: 0px;
		}	
	}

	h1, h2 {
		color: $oil;
	}
	h2 {
		color: $oil;
	  font-size: 3.5rem;
	  line-height: 1.2;
	  margin: 0px 0px 15px 0px;
	  padding-right: 60px;

		@media only screen and (max-width: 40.063em) {
		  padding-right: 0px;
		}	
	}

	.stats {
		h2 {
			font-size: 6rem;
		}
	}
	h6 {
		display: none;
	}

	p {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400;
		padding-right: 5%;
	  padding-bottom: 60px;
	  margin: 0px;
		color: $oilfade;
		@media only screen and (max-width: 40.063em) {
			padding-bottom: 45px;
		}
	}

	.default-sand-box {
		padding-top: 25px;

		p { 
			font-family: 'proxima-nova', sans-serif;
			font-weight: 400;
	 	  margin-bottom: 1.25rem;
	 	  padding: 0px;
  		color: $oilfade;
		}
	}

	.kickstarter {
	  font-size: 1.4rem;
	  font-weight: normal;
	  line-height: 1.6;
	  margin-bottom: 1.25rem;
	  padding-top: 45px;
	}

	.kickstarter-num {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 700;
	  display: inline-block;
	  float: left;
	  height: 45px;
	  margin-top: 25px;
	}

	.kickstarter-tag {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400;
	  color: #514D4D;
	  padding-left: 8px;
	  display: inline-block;
	  height: 45px;
	  margin-top: 25px;
	}

	.kickstarter-button {
		display: none;
	}

}


/* -------------------------------- 
  MINIFEST INTRO
-------------------------------- */

.manifest-intro  {
	background-color: $oil;
	padding: 120px 0px;

	@media only screen and (max-width: 40.063em) {
		padding: 5px 0px;
	}

	.menifest-intro-item {
		// padding: 60px 0px;
		@media only screen and (max-width: 40.063em) {
			padding: 15px 0px;
		}
	}

	h1, h2, p {
		color: $white;
	}
	h1 {
		font-size: 6rem;
	  line-height: 1;
    font-weight: 500;
  	padding-top: 6rem;
		padding-bottom: 2rem;
		@media only screen and (max-width: 40.063em) {
	  	padding-top: 1rem;
			padding-bottom: 1rem;
		}	
	}
	p {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400;
	  font-size: 2rem;
	  line-height: 1.3;
	}
	img {
	  // width: 40%;
		@media only screen and (max-width: 40.063em) {
	  	padding-top: 2rem;
			padding-bottom: 1rem;
		}	
	}
}


/* -------------------------------- 
  MINIFEST LIST
-------------------------------- */

.manifest-list  {
	background-color: $sand;

	.list-item {
	  padding-bottom: 1rem;

	  &:last-child {
	  	padding-bottom: 0px;
	  }
	}

	h1, h2 {
		color: $oil;
	}
	h1 {
		font-size: 6rem;
		color: $orange;
		line-height: 1;
		@media only screen and (max-width: 40.063em) {
			font-size: 4rem;
		}
	}
	h2 {
		font-size: 3.5rem;
		line-height: 1.15;
		font-family: 'Austin', georgia, sans-serif;
	  padding-right: 5%;
	}
	p {
		line-height: 1.5;
	}
}


/* -------------------------------- 
  QUOTE MODULE
-------------------------------- */

.quote  {
	background-color: $white;

	img.person {
		max-width: 40%;
		border-radius: 100%;
		float: left;
	}

	.quote-details {
		max-width: 40%;
		margin-left: 8%;
		display: inline-block;

		img.quote-sign {
			width: 100px;
			margin-left: -10px;
			margin-bottom: 10px;
		}		
	}

	h4 {
		margin: 0px;
		font-family: 'proxima-nova', sans-serif;
		font-weight: 700;
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	p {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 400;
		color: $oilfade;
	}

	@media only screen and (max-width: 40.063em) {
		.quote-details {
			max-width: 50%;
		}
		img.person {
			margin-top: 10px;
		}
		img.quote-sign {
			width: 60px !important;
		}		
		p {
			padding-top: 20px;
		  padding-bottom: 0px;
		  margin-bottom: 0px;
		}
	}

}

/* -------------------------------- 
  BACKERS
-------------------------------- */


.backers  {
	background-color: $sand;

	.backers-item {
		position: relative;
	  margin-bottom: 35px;
		max-height: 75px;

		@media only screen and (max-width: 40.063em) {
			margin-bottom: 25px;
			max-height: none;
		}

		img.person {
			border-radius: 100%;
			width: 75px;
			float: left;
			// border: 3px solid $orange;
			// -webkit-transition: all 0.2s ease-in-out;
			// transition: all 0.2s ease-in-out;
			// cursor: pointer;

			&:hover {
				// border: 3px solid $white;
			}
		}
		.content {
			margin-top: 12px;
			margin-left: 20px;
			float: left;
		  max-width: 60%;

			h3 {
				font-size: 1.4rem;
				line-height: 1.25;
				margin: 0px;
				color: $orange;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				cursor: pointer;

				&:hover {
					color: $oil;
				}
			}

			h5 {
				font-size: 16px;
				margin: 0px;
				color: $oilfade;
			}

		}
	}

}

/* -------------------------------- 
  PEOPLE
-------------------------------- */

.people  {
	background-color: $sand;
	padding-bottom: 0px;

	@media only screen and (max-width: 40.063em) {
		padding-bottom: 30px;
	}

	.people-intro {
		padding-bottom: 80px;

		@media only screen and (max-width: 40.063em) {
			padding-bottom: 20px;
		}

		h2 {
			font-size: 3.5rem;
			line-height: 1.2;
			max-width: 80%;
		}
		p {
			color: $oilfade;
		}
	}
	.people-item {
		text-align: center;

		.content {
			display: block;
			text-align: center;
			min-height: 280px;
			@media only screen and (max-width: 40.063em) {
				min-height: 150px;
			}
		}

		img.person {
			border-radius: 100%;
			max-width: 75%;
		}
		img.signatur {
			max-width: 80%;
		  padding-top: 1rem;
			@media only screen and (max-width: 40.063em) {
				max-width: 100%;
			}
		}

		h3 {
			margin-top: 25px;
			font-size: 1.1rem;
		  line-height: 1.2;

			@media only screen and (max-width: 40.063em) {
			  margin-top: 15px;
		  	font-size: 1rem !important;
			}
		}
		p {
			font-size: 1rem;
			line-height: 1.3;
			max-width: 80%;
			text-align: center;
			margin: 0 auto;
			color: $oilfade;

			@media only screen and (max-width: 40.063em) {
				max-width: 100%;
			}
		}
	}

}



/* -------------------------------- 
  Q and A
-------------------------------- */

.qanda  {
	background-color: $sand;

  .accordion-content {
  	display: none;
  }

  .accordion-toggle {cursor: pointer;}
  .accordion-content.default {display: block;}

  h2 {
		font-size: 3.5rem;
		line-height: 1.2;
		font-family: 'Austin', georgia, sans-serif;
		padding-right: 5%;
  }

  h3 {
  	font-size: 1.5rem;
  	padding-top: 20px;
	  padding-right: 40px;
	  padding-bottom:20px;
  	border-top: 2px solid white;
  	color: $orange;
	  margin: 0px;
		-webkit-transition: all 0.2s ease-out; 
    transition: all 0.2s ease-out; 

    &:hover {
	  	color: $oilfade;
    }
	  &.active {
	  	color: $oilfade;
		  padding-right: 20px;
	  	padding-left: 20px;
	  	background-color: white;
	  }
  }

	p {
		background-color: white;
		padding: 0px 20px 20px 20px;
		margin: 0px;
		color: $oilfade;
  	font-size: 1rem;
  	line-height: 1.55;
	}

}



/* -------------------------------- 
  THE END
-------------------------------- */

.inner-wrap {
	z-index: 2;
	margin-bottom: 100%;
	box-shadow: 0px 5px 7px -5px rgba(0,0,0,0.26);
}

.the-end  {
	background-color: $orange;
	padding-top: 60px !important;
	padding-bottom: 10px;   
	position: fixed;
	bottom: 0px;
	z-index: 0; 
	width: 100%;
	display: inline-block;

	.end-message {
		// position: absolute;
		// margin-top: 12%;
	}

	.vertical-align {
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  z-index: 3;
	  display: block;
	}

	@media only screen and (max-width: 40.063em) {
		.vertical-align {
		  position: relative;
		  top: 20%; 
		  -webkit-transform: none;
		  -ms-transform: none;
		  transform: none;
		  z-index: 3;	
		  display: block;
		}
	}

	h1 {
		font-size: 6rem;
		line-height: 1.2;
		color: $oil;
		margin-bottom: 25%;

		a {
			color: $white;
			font-style: italic;
  		-webkit-transition: all 0.2s ease-out; 
      transition: all 0.2s ease-out; 

			&:hover {
				color: $oil;
			}
		}

	}

	.social {
  position: fixed;
  bottom: 0px;
  z-index: 99;

		a {
			color: $oilfade;
	  	border: 2px solid white;
	  	color: white;
		  border-radius: 100%;
		  padding-top: 36px;
		  font-size: 14px;
			font-family: 'proxima-nova', sans-serif;
			font-weight: 700;
		  height: 95px;
		  width: 95px;
		  display: inline-block;
		  text-align: center;
		  margin-right: 15px;
		  margin-bottom: 30px;
  		-webkit-transition: all 0.2s ease-out; 
      transition: all 0.2s ease-out; 

		  &:hover {
		  	background-color: $white;
		  	color: $oil;
		  }
		}

	}

	p {
		color: $white;
		font-size: 1rem;
	}

	@media only screen and (max-width: 40.063em) {

		.social {
			a {
			  height: 70px;
			  width: 70px;
			  padding-top: 25px;
			  font-size: 12px;
			  margin-right: 10px;
		    margin-bottom: 15px;
			}
		}

		img {
		  position: fixed;
		  top: 134px;
		  right: 20px;
		  width: 23%;
		}

		p {
			font-size: 0.7rem !important;
		}
	}

}

/* -------------------------------- 
  SPECIAL EFFETCS 
-------------------------------- */

.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	overflow: hidden;

}

.cl-effect-10 a span {
	display: block;

	background: #0f7c67;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #0f7c67;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}




/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		// transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		// transform: scale(1);
		opacity: 1;	
	}	
	100% {
		// transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		// -webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		// -webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		// -webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}


/*
==============================================
Typed 
==============================================
*/


.typed-cursor{
		color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*
==============================================
	TOOLTIPSTER 
==============================================
*/


/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}

.tooltipster-light {
	border-radius: 5px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltipster-noir {
	border-radius: 3px; 
	background: $orange;
	color: $white;
	box-shadow: 0px 5px 7px -5px rgba(0,0,0,0.26);	
}

.tooltipster-noir:before {
	content: "";
	position: absolute;
	bottom: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	z-index: 1;
	display: inline-block;
	background-image: url("../assets/img/citation-end.svg");

	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 100%;
	opacity: 0.8;
}

.tooltipster-noir .tooltipster-content {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.55;
	padding: 14px 20px 14px 20px;;
}


/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: pointer;
  background: $orange;
  color: $white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 52px;
  left: 66px;
	padding: 1px 6px;
	font-weight: 700;
  -webkit-transition: all 0.1s ease-out; 
          transition: all 0.1s ease-out; 

	&:hover {
		background: $white;
  	color: $orange;
	}
}


/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

