// Add some whitespace between top bar and content

.top-bar-container, .top-bar {
  // margin-bottom: rem-calc(32);
  height: 60px;

  &.bg-white {
    background-color: $white;

    ul.menu li {
      a {
        background-color: $white;

        &:hover {
          color: $black;
          background-color: $sand;
        }
      }
    }

    ul.kickstarter-stats li {
      background: $white;

      .kickstarter-num {
        color: #c3c3c3;
      }
      .kickstarter-tag {
        color: $oilfade;
      }
    }

    .name {
      h1 a { 
        color: $oil;
      }
    }

  }
}

.top-bar .name {
	h1 a { 
    padding: 8px 20px;
    font-size: 16px;
    color: $white;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
  }
}
.top-bar {

  .action-button {
    position: relative;
    z-index: 5;

  }
  .action-button a {
    overflow: hidden;
    position: relative;
    display: inline-block;

  }
  .action-button a span {
    padding: 8px 25px !important;
    font-size: 16px;
    line-height: 2.8 !important;
    color: white;

    background-color: $orange !important;
    display: block;

    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;

  }
  .action-button a::before {
    content:"Kickstart";
    position: absolute;
    left: 0;
    top: 0;
    color: $orange;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    cursor: pointer;

    -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);

    padding: 8px 30px 8px 30px !important;
    font-size: 16px;
    line-height: 2.8 !important;
  }
  .action-button a:hover span {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);

  }
  .action-button a:hover::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);

  }
}

ul.menu {
  li {
    a {
      padding: 8px 30px 7px 30px !important;
      font-size: 16px;
      font-family: 'proxima-nova', sans-serif;
      font-weight: 400;
      color: $orange;
    }
    &:last-child {
      margin-right: 60px;
    }
  }
}

ul.kickstarter-stats {

  li {
    background: black;
    color: white;
    padding: 13px 40px 0px 0px;


    .kickstarter-num {
      font-size: 18px;
      color: #555;
      font-family: 'proxima-nova', sans-serif;
      font-weight: 700;
      line-height: 1;

    }

    .orange-text {
      color: $orange;
    }

    .kickstarter-tag {
      font-size: 12px;
    }

  }

}

.top-bar-section ul li {
  background: transparent; 
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: transparent;
  padding: 0px;
}

.top-bar-section ul li:hover:not(.has-form)>a {
  background: transparent;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
}

// A more subtle background color for the active menu item
// .top-bar-section li.active:not(.has-form) a:not(.button)  {
// 	background: #272727;
// }
// .top-bar-section li.active:not(.has-form) a:hover:not(.button) {
// 	background: #202020;
// }

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss. 

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  // .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  // .top-bar { display: none; }
  .top-bar-section ul {
    width: auto;

    &.kickstarter-stats {
      width: 49%;

      li {
        display: inline-block;
        padding: 13px 10% 0px 0px;
        &:nth-child(1), &:nth-child(3), &:nth-child(4) {
          display: none;
        }
      }
    }
  }
  .top-bar {
    overflow: visible;
  }
}