// Add some whitespace between top bar and content

.top-bar-container, .top-bar {
  // margin-bottom: rem-calc(32);
  height: 60px;
  overflow: hidden;

  &.bg-white {
    background-color: $white;

    ul.menu li {
      a {
        background-color: $white;

        &:hover {
          color: $black;
          background-color: $sand;
        }
      }
    }

    ul.kickstarter-stats li {
      background: $white;

      .kickstarter-num {
        color: #c3c3c3;
      }
      .kickstarter-tag {
        color: $oilfade;
      }
    }

    .name {
      h1 a { 
        color: $oil;
      }
    }

  }
}

.top-bar .name {
	h1 a { 
    font-weight: bold !important;
    padding: 8px 20px;
    font-size: 16px;
    color: $white;
    font-family: 'proxima_bold', sans-serif;
  }
}
.top-bar {
  .action-button a {
    background-color: $orange !important;
    padding: 8px 20px !important;
    font-size: 16px;
  }
}

ul.menu {
  li {
    a {
      padding: 8px 30px 7px 30px !important;
      font-size: 16px;
      font-family: 'proxima_regular', sans-serif;   
      color: $orange;
    }
    &:last-child {
      margin-right: 60px;
    }
  }
}

ul.kickstarter-stats {

  li {
    background: black;
    color: white;
    padding: 13px 40px 0px 0px;


    .kickstarter-num {
      font-size: 18px;
      color: #555;
      font-family: 'proxima_bold', sans-serif;
      line-height: 1;

    }

    .orange-text {
      color: $orange;
    }

    .kickstarter-tag {
      font-size: 12px;
    }

  }

}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss. 

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  .top-bar { display: none; }
}