



@font-face {
  font-family: 'DomaineRegular';
  src: url('../fonts/DomaineDisp-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/DomaineDisp-Regular.otf')  format('opentype'),
       url('../fonts/DomaineDisp-Regular.woff') format('woff'), url('../fonts/DomaineDisp-Regular.ttf')  format('truetype'), url('../fonts/DomaineDisp-Regular.svg#DomaineDisp-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'maisonBook';
    src: url('../fonts/maisonneue-book-webfont.eot');
    src: url('../fonts/maisonneue-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maisonneue-book-webfont.woff2') format('woff2'),
         url('../fonts/maisonneue-book-webfont.woff') format('woff'),
         url('../fonts/maisonneue-book-webfont.ttf') format('truetype'),
         url('../fonts/maisonneue-book-webfont.svg#maison_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}



*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  font-family: "maisonBook", sans-serif;
  background-color: #f2f2f2; 
  color: #143C37;
}

img {
  max-width: 100%; 
}


/* -------------------------------- 
  Colors, Links & Fonts

  GreenHex: #143C37;
-------------------------------- */


h1, h2, h3, h4, h5 {
  font-family: "DomaineRegular", sans-serif;
  color: #143C37;
  line-height: 1.2;
}


p {
  font-family: "maisonBook", sans-serif;
  font-weight: normal; 
  color: #143C37;
}

b {
  color: #143C37;
}

a {
  color: #143C37;
  text-decoration: none; 
  -webkit-transition: all 0.1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

p a {
  color: #FF00BD;
}

a:hover {
  opacity: 0.7;
}

::selection {
  background: rgba(216, 75, 75, 0.8);
  color: white;  
}

::-moz-selection {
  background: rgba(216, 75, 75, 0.8);
  color: white; 
}

.date {
  font-size: 15px;
  color: rgb(153, 149, 138);
}



/* -------------------------------- 
  Header styles
-------------------------------- */

header {
  background-color: white;
  border-top: 10px solid #143C37;
  /*height: 190px;*/
  text-align: center;
  width: 100%;
}

.main-navigation {
    padding: 10px;
}

.main-navigation a {
  font-family: "DomaineRegular", sans-serif;
  font-size: 32px;
  position: relative;
  display: inline-block;
  margin: 30px 0px;
  border: 0px solid black;
}

.home .main-navigation a.start:before {
  position: absolute;
  top: 50%;
  content: '';
  z-index: 10;
  width: 100%;
  height: 2px;
  background-color: #FF00BD;
}

.the-people .main-navigation a.list-people:before {
  position: absolute;
  top: 50%;
  content: '';
  z-index: 10;
  width: 100%;
  height: 2px;
  background-color: #FF00BD;
}

.main-navigation a {
  /*border-bottom: 1px solid #eee;*/
}

.main-navigation .logo {
  display: inline-block;
  /*background-image: url('../img/svglogotest.svg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;

}

.aortasvglogo {
  width: 100%;
}

.logo-color {
  width: 100%;
  -webkit-transition: .3s -webkit-transform cubic-bezier(.165,.84,.44,1),.3s background-position steps(3);
  transition: .3s transform cubic-bezier(.165,.84,.44,1),.3s background-position steps(3);
}

.logo-color:hover {
  fill: red;

background-position: bottom;
}

.main-navigation .logo a {
  padding: 15px;
  margin: 0px;
}

.top-nav ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
}

.top-nav li {
  display: inline-block;
  float: left;
}

.top-nav li a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 15px 10px;
  font-weight: 400;
}


/* -------------------------------- 
  Sections 
-------------------------------- */
.all {

}

.top-section {
  background: rgb(232, 232, 230);
  color: rgb(153, 149, 138);
  border-bottom: 1px solid eee;
}

.content-section {
  background: white;
  padding: 35px 0px;
}

.related-section {
  background: rgb(232, 232, 230);
  padding: 35px 0px;
  position: relative;
  z-index: 2;
}

.related-section h3 {
  font-size: 3rem;
  color: #143C37;
  padding-bottom: 35px;
}

/* -------------------------------- 
  HOME 
-------------------------------- */


.top-section.home-hero {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
}

.home-hero .hero-content {
  padding: 70px 0px 0px 30px;
}

.home-hero h1 a {
  font-size: 3rem;
  line-height: 1.4;
  padding-bottom: 25px;
}

.home-hero .date {
  padding: 20px 0px 12px 0px;
}

.home-hero p {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0px;

}

.home-hero .page-overlay img {

}

.home-hero .page-overlay .post-thumbnail {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0px;

}

.page-nav {
  margin: 25px 0px 65px 0px;
  position: relative;
  z-index: 1;
  margin-bottom: -45px;

}

.page-nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  display: inline-block;
  padding: 55px 0px;
  position: relative;
  bottom: -30px;
  transition: all .2s ease-out; 
  background-image: url("../img/pinksplash.svg");
  background-position: center;

}

.page-nav a img {
  margin-top: -12px;
}

.page-nav a:hover {
  /*bottom: -15px;*/
  opacity: 1;
  transform: scale(1.1);
}


.puff {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.puff.puffit {
  display: inline-block;

}

.isotope-align {
/*  transition-property: left, top, opacity;
  transition-delay: 0s, 0.3s, 0s;*/

 -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.spinner {
  z-index: 1;
}

.post-thumbnail {
  position: relative;
  max-height: 360px;
  overflow: hidden;
  z-index: 9;
/*
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
*/
}
.post-thumbnail img {
  position: relative;
  z-index: 2;
}

.post-thumbnail a {
  opacity: 1;
}

.post-overlay {
  position: absolute;
  z-index: 10;
  background: rgba(20, 60, 55, 0.8);
  height: 100%;
  width: 100%;
  padding-top: 25%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

.post-overlay:hover {
  opacity: 1;
}

.post-overlay .author {
  font-family: 'DomaineRegular';
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}
.post-overlay .author:after {
  width: 40px;
  height: 2px;
  background: #fff;
  position: relative;
  top: 12px;
  content: '';
  display: block;
  margin: 0 auto;
  text-align: center;
}

.post-overlay p  {
  font-size: 15px !important;
  font-weight: 100;
  padding: 10px 40px;
  color: white;
}


/* -------------------------------- 
  People  
-------------------------------- */

.top-section.people {
   
}

.the-people .content-section {
  background: rgb(232, 232, 230);
}

.top-section.people h1 {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "maisonBook", sans-serif;
  padding-top: 15%;
  margin-bottom: 20px;
}

.top-section.people h2 {
  font-size: 2.5rem;
  line-height: 1.6;
  padding: 0px 0px 35px 0px;
  color: rgb(153, 149, 138);
}

.people-post img.avatar  {
  width: 50%;
  padding-bottom: 15px;
}

.people-post img {
  border-radius: 200px;
  width: 70%;
  margin: 0 auto
}

.the-people .people-post {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .1s ease-in-out;
  text-align: center;
}

.the-people .people-post:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  opacity: 1;
}

.people-post a:hover {
  opacity: 1;
} 


.people-post h2 {
  padding-top: 20px;
  margin: 0px;
}

.people-post p {
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 12px;
}

.single-people .people-post{
  text-align: left;
}

.single-people .profile-picture {
  border-radius: 200px;
}

.single-people .people-post h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.single-people .people-post h2 {
  font-family: "maisonBook", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
}

.single-people .people-post h3 {
  font-size: 2.5rem;
  margin: 0px;
}

.single-people .people-post p {
  color: rgb(153, 149, 138);
}




/* -------------------------------- 
  Posts 
-------------------------------- */

.home-post {
  padding-bottom: 35px;
  text-align: center;
}

.home-post h2 {
  font-family: "DomaineRegular", helvetica;
  font-size: 26px;
  line-height: 1.4;
  padding: 10px 0px 5px 0px;

}

.home-post .date {
  padding: 15px 0px 0px 0px;
}

.home-post p {
  font-size: 13px;
}

.single-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.single-post .post-content {

}

.single-post .post-content img, .single-post .post-content iframe {
  position: relative;
}

.single-post .single-post-content .signatur img {
  padding: 0px 0px 15px 0px;
  width: 95%;
}

.single-post .single-post-content h1 {
  font-size: 62px;
  line-height: 1.2;
  margin-bottom: 0px;
}

.single-post .single-post-content p {
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 12px;
}

/* Author sidebar content */

.single-post .author-content  {
  padding-right: 50px;
}

.single-post .author-content img {
  margin-bottom: 20px;
  border-radius: 200px;
  width: 80%;
}

.single-post .author-content p.excerpt {
  font-size: 12px;
  font-weight: 100;
  color: rgb(153, 149, 138);
}

.single-post .author-content h3 {
  font-size: 26px;
  line-height: 1;
}

.single-post .author-content .author-title {
  font-size: 14px;
  font-weight: 100;
}

.single-post .author-content .author-moreby {
  padding: 20px 0px;
  font-size: 14px;
}

.single-post .author-content h2 {
  font-size: 13px;
  border-top: 1px solid #EAEAEA;
  padding: 20px 0px;
  margin: 0px;
  line-height: 1.4;
  font-family: "maisonBook", sans-serif;
  color: #FF00BD;
  margin-right: 35px;
}

.single-post .author-content h2 a {
  color: #FF00BD;
}




/* -------------------------------- 
  Footer 
-------------------------------- */

.footer-wrapper {
  background: rgb(153, 149, 138);
  color: white;
}

.footer p {
  padding: 35px 0px;
  font-size: 12px;
  color: white;
}

.footer a {
  color: white;
}





/* -------------------------------- 
  CSS3 Effects  
-------------------------------- */

.grid {

  list-style: none;
}

.grid li {
  display: block;
  float: left;
  opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
width: 100%;
  height: 100%;
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.55s ease forwards;
  animation: moveUp 0.55s ease forwards;
}

@-webkit-keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  margin-left: -25px;
  top: 23%;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #eaeaea;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
