

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #2A2A2A;
  background-color: #f2f2f2; 
}

img {
  max-width: 100%; 
}


/* -------------------------------- 
  Colors, Links & Fonts

  GreenHex: #143C37;
-------------------------------- */

h1, h2, h3, h4, h5 {
  font-family: "Droid Serif", sans-serif;
}


p {
  font-family: "muli", sans-serif;
  font-weight: normal; 
}


a {
  color: #143C37;
  text-decoration: none; 
  -webkit-transition: all 0.1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

a:hover {
  opacity: 0.7;
}

::selection {
  background: rgba(216, 75, 75, 0.8);
  color: white;  
}

::-moz-selection {
  background: rgba(216, 75, 75, 0.8);
  color: white; 
}




/* -------------------------------- 
  Header styles
-------------------------------- */

header {
  background-color: white;
  border-top: 10px solid #143C37;
  height: 190px;
  text-align: center;
  width: 100%;
}

.main-navigation a {
  font-family: "Droid Serif", sans-serif;
  font-size: 22px;

  position: relative;
  display: inline-block;
  width: 100%;
  padding: 60px;
}
.main-navigation a {
  border-bottom: 1px solid #eee;
}

.main-navigation .logo {
  display: inline-block;
  background-image: url('../img/logo.svg');
  background-position: center;

}


/* -------------------------------- 
  Sections 
-------------------------------- */
.all {

}

.top-section {
  background-color: #143C37;
  color: white;
}

.top-section h1, .top-section h2, .top-section p, .top-section a {
  color: white;
}

.top-section a:hover {
  color: white;
}

.content-section {
  background: white;
  padding-top: 35px;
}

.related-section {
  background: #E5EAEA;
  padding-top: 35px;
}

.related-section h3 {
  font-size: 6rem;
  color: #143C37;
  padding-bottom: 35px;
}

/* -------------------------------- 
  HOME 
-------------------------------- */


.top-section.home-hero {
  padding-top: 35px;
  padding-bottom: 35px;
}

.home-hero .hero-content {
  padding: 25px;
}

.home-hero h1 a {
  font-size: 5rem;
  line-height: 1.2;
  padding-bottom: 10px;
}

.home-hero p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 100;
}

.home-hero a.readmore {
  font-size: 22px;
  font-family: "Droid Serif", sans-serif;
}
.home-hero a.readmore:hover {
  border-bottom: 1px solid #fff;
}

/* -------------------------------- 
  People  
-------------------------------- */

.top-section.people {
   
}

.top-section.people h1 {
   font-size: 3rem;
   padding: 35px 0px;
}


/* -------------------------------- 
  Posts 
-------------------------------- */

.home-post {
  padding-bottom: 35px;
}

.home-post h2 {
  font-family: "muli", helvetica;
  font-size: 26px;
  line-height: 1.2;
  padding: 15px 0px 5px 0px;
}

.home-post p {
  font-size: 13px;
}






/* -------------------------------- 
  Footer 
-------------------------------- */

.footer-wrapper {
  background: #143C37;
  color: white;
}

.footer p {
  padding: 35px 0px;
  font-size: 12px;
}

.footer a {
  color: white;
}



