



@font-face {
  font-family: 'DomaineRegular';
  src: url('../fonts/DomaineDisp-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/DomaineDisp-Regular.otf')  format('opentype'),
       url('../fonts/DomaineDisp-Regular.woff') format('woff'), url('../fonts/DomaineDisp-Regular.ttf')  format('truetype'), url('../fonts/DomaineDisp-Regular.svg#DomaineDisp-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'maisonBook';
    src: url('../fonts/maisonneue-book-webfont.eot');
    src: url('../fonts/maisonneue-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maisonneue-book-webfont.woff2') format('woff2'),
         url('../fonts/maisonneue-book-webfont.woff') format('woff'),
         url('../fonts/maisonneue-book-webfont.ttf') format('truetype'),
         url('../fonts/maisonneue-book-webfont.svg#maison_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}



*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  font-family: "maisonBook", sans-serif;
  background-color: #fff; 
  color: #143C37;
  /*background-image: url("../img/logo.png");*/
  background-position: center;
  background-size: 180px;
  background-repeat: no-repeat;
}

img {
  max-width: 100%; 
}



/* -------------------------------- 
  Colors, Links & Fonts

  GreenHex: #143C37;
-------------------------------- */


h1, h2, h3, h4, h5 {
  font-family: "DomaineRegular", sans-serif;
  color: #143C37;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;

}

p {
  font-family: "maisonBook", sans-serif;
  font-weight: normal; 
  color: #143C37;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

b {
  color: #143C37;
}

a {
  color: #143C37;
  text-decoration: none; 
  -webkit-transition: all 0.2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

p a {
  color: #FF00BD;
}

a:hover {
  color: #FF00BD;
  opacity: 0.8;
}

.date {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(153, 149, 138);
  display: inline-block;
}

.date a {
  display: inline-block !important;
  width: auto !important;
  color: rgb(153, 149, 138);
}

.date a:hover {
  display: inline-block !important;
  width: auto !important;
  color: #FF00BD;
}



/* -------------------------------- 
  Header styles
-------------------------------- */

header {
  background-color: white;
  /*height: 190px;*/
  text-align: center;
  width: 100%;
      border-top: 10px solid #143C37;

}

.main-navigation {
    padding: 0px;
}

.main-navigation a {
  font-family: "DomaineRegular", sans-serif;
  font-size: 32px;
  position: relative;
  display: inline-block;
  margin: 30px 0px;
  border: 0px solid black;
}

@media only screen and (max-width: 40.063em) {
  .main-navigation a {
    font-size: 22px;
    margin: 12px 0px;
  }
}


.home .main-navigation a.start:before, .single-post .main-navigation a.start:before {
  position: absolute;
  top: 50%;
  content: '';
  z-index: 10;
  width: 100%;
  height: 2px;
  background-color: #FF00BD;
}

.the-people .main-navigation a.list-people:before, .single-people .main-navigation a.list-people:before  {
  position: absolute;
  top: 50%;
  content: '';
  z-index: 10;
  width: 100%;
  height: 2px;
  background-color: #FF00BD;
}

.current-menu-item a{
  position: relative;
}
.current-menu-item a:before {
  position: absolute;
  top: 49%;
  left: -2px;
  content: '';
  z-index: 10;
  width: 104%;
  height: 1px;
  background-color: #FF00BD;
}

.secondary-nav.top-nav li a {
  margin: 10px 25px;
}

.main-navigation .logo {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.aortasvglogo {
  width: 80%;
}

.logo-color {
  width: 100%;
  -webkit-transition: .3s -webkit-transform cubic-bezier(.165,.84,.44,1),.3s background-position steps(3);
  transition: .3s transform cubic-bezier(.165,.84,.44,1),.3s background-position steps(3);
}

.logo-color:hover {
/*  fill: red;
  background-position: bottom;*/
}

.main-navigation .logo a {
  padding: 15px;
  margin: 0px;
}

@media only screen and (max-width: 40.063em) {
  .main-navigation .logo a {
    padding: 0px;
    margin-top: -6px;
    margin-left: 15px;
  }
  .top-section.home-hero {
    padding-top: 20px !important;
  }
  .top-nav li a {
    margin: 15px 5px 5px 15px;
  }
  .secondary-nav.top-nav li a {
    margin: 10px 15px;
  }
}

.top-nav ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
}

.top-nav li {
  display: inline-block;
  float: left;
}

.top-nav li a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 15px 25px 10px 25px;
  font-weight: 400;
}


/* -------------------------------- 
  Sections 
-------------------------------- */
.all {

}

.transition-wrapper {
  opacity: 0;
  transition: opacity .225s ease-in-out;
  -moz-transition: opacity .225s ease-in-out;
  -webkit-transition: opacity .225s ease-in-out;
}

.transition-wrapper.visible {
  opacity: 1;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.top-section {
  background: rgb(232, 232, 230);
  color: rgb(153, 149, 138);
}

.top-section.category{
  padding: 20px 0px;
}

.content-section {
  background: white;
  padding: 35px 0px;
}

.home .content-section {
  padding: 0px;
}

@media only screen and (max-width: 40.063em) {
  .category .content-section {
    padding: 0px 0px;
  }
}

.related-section {
  background: rgb(232, 232, 230);
  padding: 35px 0px;
  position: relative;
  z-index: 2;
}

.related-section:before {
  width: 100%;
  height: 20px;
  display: inline-block;
  background-image: url("../img/related-top.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  content: '';
  position: absolute;
  top: -15px;
  left: 0px;
  background-size: 120%;
}

.related-section h3 {
  font-size: 3rem;
  color: #143C37;
  padding-bottom: 35px;
}

.home .related-section {
  padding-bottom: 65px;
}

.related-section .top-section.people h1 {
  padding-top: 20px;
  margin-bottom: 5px;
}


.related-section .top-section.people h2 {
  color: #143C37;
  padding-bottom: 50px;
}

/* -------------------------------- 
  HOME 
-------------------------------- */


.top-section.home-hero {
  padding-top: 35px;
  background-color: white;
}

.top-section.home-hero .columns:first-child {
  padding-bottom: 25px;
}

.home-hero .hero-content {
  padding: 70px 0px 0px 30px;
}

.home-hero h1 a {
  font-size: 3rem;
  line-height: 1.4;
  padding-bottom: 25px;
}

.home-hero .date {
  padding: 20px 0px 12px 0px;
}

@media only screen and (max-width: 40.063em) {
  .home-post {
    padding-bottom: 30px;
  }

  .home-hero h1 a {
    font-size: 2.5rem;
    line-height: 1.4;
    padding-bottom: 25px;
  }

  .home-hero .date {
    padding: 20px 0px 10px 0px;
  }
}

.home-hero p {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0px;

}

.home-hero .top-post {

}

.home-hero .top-post .background-fit {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 99%;
  margin: 0 auto;

}

@media only screen and (max-width: 40.063em) {
  .home-hero .top-post .background-fit {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 99%;
  }
}

@media only screen and (min-width: 1300px) {
  .home-hero .top-post .background-fit {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 99%;
  }
}

.home-hero .page-overlay img {

}

.home-hero .page-overlay .post-thumbnail {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0px;
}

.page-nav {
  margin: 15px 0px 65px 0px;
  position: relative;
  z-index: 1;
  margin-bottom: -45px;

}

.page-nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  display: inline-block;
  padding: 50px 0px;
  position: relative;
  bottom: -5px;
  -webkit-transition: all 0.4s ease-out-in; 
    -moz-transition: all 0.4s ease-out-in; 
    -ms-transition: all 0.4s ease-out-in; 
    -o-transition: all 0.4s ease-out-in; 
      transition: all 0.4s ease-out-in; 
  /*transition: all .1s cubic-bezier(.11,.65,1,1.69);*/

  background-image: url("../img/pinksplash.svg");
  background-position: center;
}

.page-nav a img {
  margin-top: -12px;
}

.page-nav a:hover {
  bottom: 0px;
  opacity: 1;
  /*transform: scale(1.2);*/
}

.puff {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.puff.puffit {
  display: inline-block;

}

.isotope-align {
/*  transition-property: left, top, opacity;
  transition-delay: 0s, 0.3s, 0s;*/

 -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.spinner {
  z-index: 1;
}

.post-thumbnail {
  position: relative;
  z-index: 9;
/*
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
*/
}
.post-thumbnail img {
  position: relative;
  z-index: 2;
}

.post-thumbnail a {
  opacity: 1;
}

.post-overlay {
  position: absolute;
  z-index: 10;
  background: rgba(20, 60, 55, 0.8);
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

.post-overlay:hover {
  opacity: 1;
}

.post-overlay-content {
/*  width: 100%;
  height: 100%;*/
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-overlay .author {
  font-family: 'DomaineRegular';
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}
.post-overlay .author:after {
  width: 40px;
  height: 2px;
  background: #fff;
  position: relative;
  top: 12px;
  content: '';
  display: block;
  margin: 0 auto;
  text-align: center;
}

.post-overlay p  {
  font-size: 14px !important;
  font-weight: 100;
  padding: 5px 40px;
  color: white;
  line-height: 1.4;
  margin: 0px;
  padding-bottom: 0px;
}


/* -------------------------------- 
  People  
-------------------------------- */

.top-section.people {
   
}

.the-people .content-section {
  background: rgb(232, 232, 230);
}

.top-section.people h1 {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "maisonBook", sans-serif;
  padding-top: 10%;
  margin-bottom: 20px;
}

.top-section.people h2 {
  font-size: 2.5rem;
  line-height: 1.6;
  color: rgb(153, 149, 138);
}

.people-post img.avatar  {
  width: 50%;
  padding-bottom: 15px;
}

.people-post .round-wrapper { 

}

.people-post .round-wrapper img { 
  width: 100%;
  -webkit-clip-path: circle(40% at center);
  clip-path: circle(100px at center);
  transition: all .15s ease;
}

.people-post .round-wrapper img:hover { 
  width: 100%;
  -webkit-clip-path: circle(43% at center);
  clip-path: circle(100px at center);
}

.the-people .people-post {
  text-align: center;
}

.people-post a:hover {
  opacity: 1;
} 

.people-post h2 {
  margin: 0px;
}

.people-post p {
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 25px;
  color: rgb(153, 149, 138);

}

.single-people .people-post{
  text-align: left;
}

.single-people .profile-picture {
  border-radius: 100%;
  width: 70%;
}

@media only screen and (max-width: 40.063em) {
  .single-people .profile-picture {
    width: 100%;
  }
}

.single-people .people-post h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.single-people .people-post h2 {
  font-family: "maisonBook", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
}

.single-people .people-post h3 {
  font-size: 2.5rem;
  margin: 0px;
}

.single-people .people-post p {
  color: rgb(153, 149, 138);
  padding-bottom: 10px;
}


/* -------------------------------- 
  Category page
-------------------------------- */

.top-section.category {
  background-color: white;
  
}

.top-section.category h2 {
  color: rgb(153, 149, 138);
  line-height: 1.4;
  padding-top: 5px;
}

/* -------------------------------- 
  Posts 
-------------------------------- */

.home-post {
  padding-bottom: 40px;
  text-align: center;
  margin: 2px;
}

.home-post h2 {
  font-family: "DomaineRegular", helvetica;
  font-size: 22px;
  line-height: 1.4;
  padding: 10px 15px 5px 15px;
  display: inline-block;

}

.home-post .date {
  padding: 15px 0px 0px 0px;
}

.home-post p {
  font-size: 13px;
}

.single-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

@media only screen and (max-width: 40.063em) {
  .single-header {
    height: 250px;
  }
}

.single-post .content-section {
  margin-top: -140px;
}

.single-post .content-section .content-slab {
  background: white;
  padding-top: 0px;
}

.single-post .content-section .content-slab .background-fit {
  width: 100%;
  height: 20px;
  display: inline-block;
  background-image: url("../img/single-post-top.svg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;
  content: '';
  position: absolute;
  top: -20px;
  left: 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 3px 0px 0px;
  border-radius: 5px 5px 0px 0px; 
}

.single-post .post-content {

}

.single-post .post-content img, .single-post .post-content iframe {
  position: relative;
  float: left;
  padding-bottom: 20px;
}

.single-post .single-post-content .signatur img {
  padding: 35px 0px 15px 0px;
  width: 60%;
}

.single-post .single-post-content h1 {
  width: 75%;
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 0px;
}

@media only screen and (max-width: 40.063em) {
  .single-post .single-post-content h1 {
    font-size: 3rem;
  }
}

.single-post .single-post-content p {
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 20px;
  width: 70%;
}

/* Author sidebar content */

.single-post .author-content  {
  padding-right: 50px;
}

.single-post .author-content img {
  margin-bottom: 20px;
  border-radius: 200px;
  width: 80%;
}

.single-post .author-content p.excerpt {
  font-size: 12px;
  font-weight: 100;
  color: rgb(153, 149, 138);
}

.single-post .author-content h3 {
  font-size: 26px;
  line-height: 1;
}

.single-post .author-content .author-title {
  font-size: 14px;
  font-weight: 100;
}

.single-post .author-content .author-moreby {
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 500;
}

.single-post .author-content h2 {
  font-size: 12px;
  border-top: 1px solid #aaa; 
  padding: 15px 0px;
  margin: 0px;
  line-height: 1.6;
  font-family: "maisonBook", sans-serif;
  color: #FF00BD;
  margin-right: 35px;
  font-weight: 100;
}

.single-post .author-content h2 a {
  color: #FF00BD;
}

@media only screen and (max-width: 40.063em) {
  .single-post .author-content  {
    padding: 0px;
  }
  .single-post .author-content h2 {
    margin-right: 0px; 
  }
  .single-post .author-content img {
    width: 60%;
  }
}

/* -------------------------------- 
  About  
-------------------------------- */

.about header, .top-section.about-page {
  background-color: #143C37;
  border-color: #fff;
}

.about header a {
  color: white;
}

.about-page {
  padding-top: 40px;
}

@media only screen and (max-width: 40.063em) {
  .about-page {
    padding-top: 20px;
  }
}

.about-page p {
  color: white;
  font-size: 13px;
  padding: 80px 0px
}

.about .logo-color {
  fill: white;
}

.top-section.about-page h2 {
  font-size: 6rem;
  color: white;
}

.top-section.about-page a {
  color: #FF00BD;
}

.about-social a.social-link {
  width: 100%;
  padding: 30px 0px;
  display: inline-block;
  font-size: 6rem;
  font-family: "DomaineRegular", sans-serif;

}

.about-social .social-block {
  background-color: white;
}

.about-social .social-block:nth-child(2) {
  background: rgb(232, 232, 230);

}

/* -------------------------------- 
  List view mobile 
-------------------------------- */
@media only screen and (max-width: 40.063em) {
  .top-section.about-page h2, .about-social a.social-link {
    font-size: 3rem;
  }

  .post-thumbnail {
    float: left;
    width: 35%;
    display: inline-block;
  }

  .post-content {
    float: left;
    width: 65%;
    height: 100%;
    text-align: left !important;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .home-post {
    position: relative;
    margin: 5px 0px;
    overflow: hidden;
    display: inline-block;
    height: 110px;
  }

  .home-post .date {
    padding: 0 0px 0px 15px;
  }

  .home-post h2 {
    font-size: 16px;
    line-height: 1.2;
    padding: 5px 0px 5px 15px;
    display: inline-block;
  }

  .post-overlay {
    display: none;
  }

  .list-people {
    margin-left: -10px !important;
  }

}


/* -------------------------------- 
  Search 
-------------------------------- */

.search-wrapper {
  background-color: #143C37;
  position: relative;
  top: 0px;
  display: inline-block;
  height: 0px;
  width: 100%;
  float: left;
  overflow: hidden;
  -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
}

.search-wrapper.open {
  height: 60px;
}

.search .search-wrapper {
  height: 60px;
}

.search-wrapper .search-input {
  text-align: center;
  background: transparent;
  border: none !important;
  font-size: 22px;
  margin-top: 20px;
  display: inline-block;
  height: 30px;
  color: white;
  box-shadow: none;
  opacity: 0.8;
  overflow: visible;
  -webkit-transition: all 0.2s ease-out; 
    -moz-transition: all 0.2s ease-out; 
    -ms-transition: all 0.2s ease-out; 
    -o-transition: all 0.2s ease-out; 
      transition: all 0.2s ease-out; 
}
.search-wrapper .search-input:focus {
  opacity: 1;
  background: transparent;
  border: none !important;
  font-size: 22px;
  margin-top: 20px;
  display: inline-block;
  height: 30px;
  color: white;
  box-shadow: none;
  content: '';
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    opacity: 0.9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

/* -------------------------------- 
  Footer 
-------------------------------- */

.footer-wrapper {
  background: rgb(153, 149, 138);
  color: white;
  position: relative;
  z-index: 2;
}

.footer p {
  padding: 35px 0px;
  font-size: 12px;
  color: white;
  margin: 0px;
}

.footer a {
  color: white;
}



/* -------------------------------- 
  CSS3 Effects  
-------------------------------- */

.grid {

  list-style: none;
}

.grid li {
  display: block;
  float: left;
  opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
/*  -webkit-transform: translateY(200px);
  transform: translateY(200px);
*/  -webkit-animation: moveUp 0.55s ease forwards;
  animation: moveUp 0.55s ease forwards;
}

@-webkit-keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  margin-left: -25px;
  top: 23%;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #eaeaea;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
